<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SelectLogin</servlet-name>
        <servlet-class>Servlets.SelectLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeDataSave</servlet-name>
        <servlet-class>Servlets.EditEmployeeDataSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCountry</servlet-name>
        <servlet-class>Servlets.ReadCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadUsersAll</servlet-name>
        <servlet-class>Servlets.ReadUsersAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserProfile</servlet-name>
        <servlet-class>Servlets.CreateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDesignation</servlet-name>
        <servlet-class>Servlets.ReadDesignation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadOrganizationBy</servlet-name>
        <servlet-class>Servlets.ReadOrganizationBy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeRegistration</servlet-name>
        <servlet-class>Servlets.ReadEmployeeRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEmployeeId</servlet-name>
        <servlet-class>Servlets.SelectEmployeeId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDocType</servlet-name>
        <servlet-class>Servlets.ReadDocType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDocument</servlet-name>
        <servlet-class>Servlets.CreateDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_user_action</servlet-name>
        <servlet-class>Servlets.UpdateUserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeAll</servlet-name>
        <servlet-class>Servlets.ReadEmployeeAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEpfNo</servlet-name>
        <servlet-class>Servlets.SelectEpfNo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeData</servlet-name>
        <servlet-class>Servlets.EditEmployeeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeAllHistory</servlet-name>
        <servlet-class>Servlets.ReadEmployeeAllHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeDataG</servlet-name>
        <servlet-class>Servlets.EditEmployeeDataG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeAllHistoryG</servlet-name>
        <servlet-class>Servlets.ReadEmployeeAllHistoryG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlets.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentDataLoad</servlet-name>
        <servlet-class>Servlets.DocumentDataLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentDataCheck</servlet-name>
        <servlet-class>Servlets.DocumentDataCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDataView</servlet-name>
        <servlet-class>Servlets.EmployeeDataView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadPortalPayment</servlet-name>
        <servlet-class>Servlets.ReadPortalPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeName</servlet-name>
        <servlet-class>Servlets.ReadEmployeeName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProjects</servlet-name>
        <servlet-class>Servlets.CreateProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProjectRole</servlet-name>
        <servlet-class>Servlets.ReadProjectRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchUpload2</servlet-name>
        <servlet-class>Servlets.ResearchUpload2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewProject</servlet-name>
        <servlet-class>Servlets.CreateNewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>Servlets.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserCredential</servlet-name>
        <servlet-class>Servlets.CreateUserCredential</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCredentialAll</servlet-name>
        <servlet-class>Servlets.ReadCredentialAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCredential</servlet-name>
        <servlet-class>Servlets.SaveCredential</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCredentialSave</servlet-name>
        <servlet-class>Servlets.UserCredentialSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserCredential</servlet-name>
        <servlet-class>Servlets.CredentialStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectAgreementHistoryView</servlet-name>
        <servlet-class>Servlets.ProjectAgreementHistoryView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDataView</servlet-name>
        <servlet-class>Servlets.ClientDataView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientTeamListView</servlet-name>
        <servlet-class>Servlets.ClientTeamListView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectListbyClientView</servlet-name>
        <servlet-class>Servlets.ProjectListbyClientView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceMark</servlet-name>
        <servlet-class>Servlets.AttendanceMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAttendance</servlet-name>
        <servlet-class>Servlets.checkAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceClockCheck</servlet-name>
        <servlet-class>Servlets.AttendanceClockCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPdfDocument</servlet-name>
        <servlet-class>Servlets.ViewPdfDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClientDetails</servlet-name>
        <servlet-class>Servlets.EditClientDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjectDocs</servlet-name>
        <servlet-class>Servlets.ViewProjectDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClientLogo</servlet-name>
        <servlet-class>Servlets.ViewClientLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjectLogo</servlet-name>
        <servlet-class>Servlets.ViewProjectLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDocumentUpload</servlet-name>
        <servlet-class>Servlets.EmployeeDocumentUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDocumentHistoryView</servlet-name>
        <servlet-class>Servlets.EmployeeDocumentHistoryView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDocumentOpen</servlet-name>
        <servlet-class>Servlets.EmployeeDocumentOpen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectEmpRoleListEdit</servlet-name>
        <servlet-class>Servlets.ProjectEmpRoleListEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTeamUpdate</servlet-name>
        <servlet-class>Servlets.ProjectTeamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTeamStatusUpdate</servlet-name>
        <servlet-class>Servlets.ProjectTeamStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientTeamListStatus</servlet-name>
        <servlet-class>Servlets.ClientTeamListStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientTeamListStatusUpdate</servlet-name>
        <servlet-class>Servlets.ClientTeamListStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProjectEmployee</servlet-name>
        <servlet-class>Servlets.ReadProjectEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewTask</servlet-name>
        <servlet-class>Servlets.CreateNewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskCompletedStatus</servlet-name>
        <servlet-class>Servlets.UpdateTaskStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDocumentUpload</servlet-name>
        <servlet-class>Servlets.TeamDocumentUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskDocumentUpload</servlet-name>
        <servlet-class>Servlets.TaskDocumentUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskEditDataView</servlet-name>
        <servlet-class>Servlets.TaskEditDataView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTaskDetails</servlet-name>
        <servlet-class>Servlets.EditTaskDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpTicketDocumentOpen</servlet-name>
        <servlet-class>Servlets.HelpTicketDocumentOpen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadPortalPayment</servlet-name>
        <url-pattern>/ReadPortalPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentDataCheck</servlet-name>
        <url-pattern>/DocumentDataCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectLogin</servlet-name>
        <url-pattern>/SelectLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeDataSave</servlet-name>
        <url-pattern>/EditEmployeeDataSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCountry</servlet-name>
        <url-pattern>/ReadCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadUsersAll</servlet-name>
        <url-pattern>/ReadUsersAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDesignation</servlet-name>
        <url-pattern>/ReadDesignation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadOrganizationBy</servlet-name>
        <url-pattern>/ReadOrganizationBy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeRegistration</servlet-name>
        <url-pattern>/ReadEmployeeRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEmployeeId</servlet-name>
        <url-pattern>/SelectEmployeeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDocType</servlet-name>
        <url-pattern>/ReadDocType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDocument</servlet-name>
        <url-pattern>/CreateDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_user_action</servlet-name>
        <url-pattern>/create_user_action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeAll</servlet-name>
        <url-pattern>/ReadEmployeeAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEpfNo</servlet-name>
        <url-pattern>/SelectEpfNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeData</servlet-name>
        <url-pattern>/EditEmployeeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeAllHistory</servlet-name>
        <url-pattern>/ReadEmployeeAllHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeDataG</servlet-name>
        <url-pattern>/EditEmployeeDataG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeAllHistoryG</servlet-name>
        <url-pattern>/ReadEmployeeAllHistoryG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentDataLoad</servlet-name>
        <url-pattern>/DocumentDataLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserProfile</servlet-name>
        <url-pattern>/CreateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDataView</servlet-name>
        <url-pattern>/EmployeeDataView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeName</servlet-name>
        <url-pattern>/ReadEmployeeName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProjects</servlet-name>
        <url-pattern>/CreateProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProjectRole</servlet-name>
        <url-pattern>/ReadProjectRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResearchUpload2</servlet-name>
        <url-pattern>/ResearchUpload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewProject</servlet-name>
        <url-pattern>/CreateNewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserCredential</servlet-name>
        <url-pattern>/CreateUserCredential</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCredentialAll</servlet-name>
        <url-pattern>/ReadCredentialAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCredential</servlet-name>
        <url-pattern>/SaveCredential</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCredentialSave</servlet-name>
        <url-pattern>/UserCredentialSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserCredential</servlet-name>
        <url-pattern>/EditUserCredential</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectAgreementHistoryView</servlet-name>
        <url-pattern>/ProjectAgreementHistoryView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDataView</servlet-name>
        <url-pattern>/ClientDataView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientTeamListView</servlet-name>
        <url-pattern>/ClientTeamListView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectListbyClientView</servlet-name>
        <url-pattern>/ProjectListbyClientView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceMark</servlet-name>
        <url-pattern>/AttendanceMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAttendance</servlet-name>
        <url-pattern>/checkAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceClockCheck</servlet-name>
        <url-pattern>/AttendanceClockCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPdfDocument</servlet-name>
        <url-pattern>/ViewPdfDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClientDetails</servlet-name>
        <url-pattern>/EditClientDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectDocs</servlet-name>
        <url-pattern>/ViewProjectDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClientLogo</servlet-name>
        <url-pattern>/ViewClientLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectLogo</servlet-name>
        <url-pattern>/ViewProjectLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDocumentUpload</servlet-name>
        <url-pattern>/EmployeeDocumentUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDocumentHistoryView</servlet-name>
        <url-pattern>/EmployeeDocumentHistoryView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDocumentOpen</servlet-name>
        <url-pattern>/EmployeeDocumentOpen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectEmpRoleListEdit</servlet-name>
        <url-pattern>/ProjectEmpRoleListEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTeamUpdate</servlet-name>
        <url-pattern>/ProjectTeamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTeamStatusUpdate</servlet-name>
        <url-pattern>/ProjectTeamStatusUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientTeamListStatus</servlet-name>
        <url-pattern>/ClientTeamListStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientTeamListStatusUpdate</servlet-name>
        <url-pattern>/ClientTeamListStatusUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProjectEmployee</servlet-name>
        <url-pattern>/ReadProjectEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewTask</servlet-name>
        <url-pattern>/CreateNewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskCompletedStatus</servlet-name>
        <url-pattern>/UpdateTaskCompletedStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDocumentUpload</servlet-name>
        <url-pattern>/TeamDocumentUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskDocumentUpload</servlet-name>
        <url-pattern>/TaskDocumentUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskEditDataView</servlet-name>
        <url-pattern>/TaskEditDataView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTaskDetails</servlet-name>
        <url-pattern>/EditTaskDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpTicketDocumentOpen</servlet-name>
        <url-pattern>/HelpTicketDocumentOpen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
