<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SelectLogin</servlet-name>
        <servlet-class>Servlets.SelectLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeDataSave</servlet-name>
        <servlet-class>Servlets.EditEmployeeDataSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCountry</servlet-name>
        <servlet-class>Servlets.ReadCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadUsersAll</servlet-name>
        <servlet-class>Servlets.ReadUsersAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserProfile</servlet-name>
        <servlet-class>Servlets.CreateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDesignation</servlet-name>
        <servlet-class>Servlets.ReadDesignation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadOrganizationBy</servlet-name>
        <servlet-class>Servlets.ReadOrganizationBy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeRegistration</servlet-name>
        <servlet-class>Servlets.ReadEmployeeRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEmployeeId</servlet-name>
        <servlet-class>Servlets.SelectEmployeeId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDocType</servlet-name>
        <servlet-class>Servlets.ReadDocType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDocument</servlet-name>
        <servlet-class>Servlets.CreateDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_user_action</servlet-name>
        <servlet-class>Servlets.UpdateUserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeAll</servlet-name>
        <servlet-class>Servlets.ReadEmployeeAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEpfNo</servlet-name>
        <servlet-class>Servlets.SelectEpfNo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeData</servlet-name>
        <servlet-class>Servlets.EditEmployeeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeAllHistory</servlet-name>
        <servlet-class>Servlets.ReadEmployeeAllHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeDataG</servlet-name>
        <servlet-class>Servlets.EditEmployeeDataG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeAllHistoryG</servlet-name>
        <servlet-class>Servlets.ReadEmployeeAllHistoryG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlets.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentDataLoad</servlet-name>
        <servlet-class>Servlets.DocumentDataLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentDataCheck</servlet-name>
        <servlet-class>Servlets.DocumentDataCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDataView</servlet-name>
        <servlet-class>Servlets.EmployeeDataView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadPortalPayment</servlet-name>
        <servlet-class>Servlets.ReadPortalPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadEmployeeName</servlet-name>
        <servlet-class>Servlets.ReadEmployeeName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProjects</servlet-name>
        <servlet-class>Servlets.CreateProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProjectRole</servlet-name>
        <servlet-class>Servlets.ReadProjectRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchUpload2</servlet-name>
        <servlet-class>Servlets.ResearchUpload2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewProject</servlet-name>
        <servlet-class>Servlets.CreateNewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>Servlets.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserCredential</servlet-name>
        <servlet-class>Servlets.CreateUserCredential</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCredentialAll</servlet-name>
        <servlet-class>Servlets.ReadCredentialAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCredential</servlet-name>
        <servlet-class>Servlets.SaveCredential</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCredentialSave</servlet-name>
        <servlet-class>Servlets.UserCredentialSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserCredential</servlet-name>
        <servlet-class>Servlets.EditUserCredential</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadPortalPayment</servlet-name>
        <url-pattern>/ReadPortalPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentDataCheck</servlet-name>
        <url-pattern>/DocumentDataCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectLogin</servlet-name>
        <url-pattern>/SelectLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeDataSave</servlet-name>
        <url-pattern>/EditEmployeeDataSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCountry</servlet-name>
        <url-pattern>/ReadCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadUsersAll</servlet-name>
        <url-pattern>/ReadUsersAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDesignation</servlet-name>
        <url-pattern>/ReadDesignation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadOrganizationBy</servlet-name>
        <url-pattern>/ReadOrganizationBy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeRegistration</servlet-name>
        <url-pattern>/ReadEmployeeRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEmployeeId</servlet-name>
        <url-pattern>/SelectEmployeeId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDocType</servlet-name>
        <url-pattern>/ReadDocType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDocument</servlet-name>
        <url-pattern>/CreateDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_user_action</servlet-name>
        <url-pattern>/create_user_action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeAll</servlet-name>
        <url-pattern>/ReadEmployeeAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEpfNo</servlet-name>
        <url-pattern>/SelectEpfNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeData</servlet-name>
        <url-pattern>/EditEmployeeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeAllHistory</servlet-name>
        <url-pattern>/ReadEmployeeAllHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeDataG</servlet-name>
        <url-pattern>/EditEmployeeDataG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeAllHistoryG</servlet-name>
        <url-pattern>/ReadEmployeeAllHistoryG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentDataLoad</servlet-name>
        <url-pattern>/DocumentDataLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserProfile</servlet-name>
        <url-pattern>/CreateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDataView</servlet-name>
        <url-pattern>/EmployeeDataView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadEmployeeName</servlet-name>
        <url-pattern>/ReadEmployeeName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProjects</servlet-name>
        <url-pattern>/CreateProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProjectRole</servlet-name>
        <url-pattern>/ReadProjectRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResearchUpload2</servlet-name>
        <url-pattern>/ResearchUpload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewProject</servlet-name>
        <url-pattern>/CreateNewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserCredential</servlet-name>
        <url-pattern>/CreateUserCredential</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCredentialAll</servlet-name>
        <url-pattern>/ReadCredentialAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCredential</servlet-name>
        <url-pattern>/SaveCredential</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCredentialSave</servlet-name>
        <url-pattern>/UserCredentialSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserCredential</servlet-name>
        <url-pattern>/EditUserCredential</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
